body {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(212, 211, 211);
}
ul {
  margin: 0;
  padding: 0;
}
.box {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: rgb(79, 80, 80);
}
.title_trending {
    padding-top: 15px;
    padding-left: 15px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 21px;
  justify-content: center;
 
  display: flex;
}
.title_error {
  font-size: 21px;
  line-height: 15px;
  justify-content: center;
  display: flex;
}
